<table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
  <tbody class="bg-white dark:bg-gray-800">
    <tr>
      <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
        Block Height
      </td>
      <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
        <%= block.number %>
      </td>
    </tr>
    <tr>
      <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
        Timestamp
      </td>
      <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
        <%= block.seconds_ago %> seconds ago (<%= block.datetime %>)
      </td>
    </tr>
    <tr>
      <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
        Transactions
      </td>
      <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
        <%= block.transactions.size %> transactions in this block
      </td>
    </tr>
    <tr>
      <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
        Fee Recipient
      </td>
      <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
        <%= link_to block.miner, show_address_path(address: block.miner) %>
      </td>
    </tr>
    <tr>
      <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
        Total Difficulty
      </td>
      <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
        <%= block.totalDifficulty %>
      </td>
    </tr>
    <tr>
      <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
        Size
      </td>
      <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
        <%= block.size %> bytes
      </td>
    </tr>
    <tr>
      <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
        Hash
      </td>
      <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
        <%= link_to block.hash, show_block_path(block_id: block.hash) %>
      </td>
    </tr>
  </tbody>
</table>
