<table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
  <tbody class="bg-white dark:bg-gray-800">
    <tr>
      <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
        Transaction Hash
      </td>
      <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
        <%= transaction.hash %>
      </td>
    </tr>
    <%# <tr>
      <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
        Status
      </td>
      <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
        ...
      </td>
    </tr> %>
    <tr>
      <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
        Block
      </td>
      <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
        <%= link_to transaction.block_number, show_block_path(block_id: transaction.block_number) %>
      </td>
    </tr>
    <%# <tr>
      <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
        Timestamp
      </td>
      <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
        ...
      </td>
    </tr> %>
    <tr>
      <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
        From
      </td>
      <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
        <%= link_to transaction.from, show_address_path(transaction.from) %>
      </td>
    </tr>

    <tr>
      <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
        To
      </td>
      <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
        <%= link_to transaction.to, show_address_path(transaction.to) %>
      </td>
    </tr>

    <tr>
      <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
        Value
      </td>
      <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
        <%= transaction.eth_value %> ETH
      </td>
    </tr>

    <tr>
      <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
        Fee
      </td>
      <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
        <%= transaction.eth_fee %> ETH
      </td>
    </tr>

    
  </tbody>
</table>
