<!DOCTYPE html>
<html class="dark">
  <head>
    <title>ETH Explorer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag 'ethereum-original.svg' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50 dark:bg-gray-900">
    <main>
      <%= render partial: "partials/header" %>
      <%= yield %>
    </main>
  </body>
</html>
